.section {
  padding: 80px 0;
}

.filter {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 140px 0;
  }

  .filter {
    flex-direction: row;
    gap: 8px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 160px 0 140px 0;
  }
}

.pagination {
  display: flex;
  justify-content: center;
}

.content-wrapp {
  min-height: 1500px;
}

@media screen and (min-width: 768px) {
  .content-wrapp {
    min-height: 1779px;
  }
}

@media screen and (min-width: 1440px) {
  .content-wrapp {
    min-height: 1620px;
  }
}
