.start-box {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .start-box {
    text-align: left;
  }
}

.start-box h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -0.56px;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .start-box h1 {
    font-size: 40px;
    line-height: 1.1;
  }
}

.start-box p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  width: 100%;
  max-width: 315px;
}

@media screen and (min-width: 768px) {
  .start-box p {
    font-size: 18px;
    line-height: 1.33;
    margin-left: 0;
    margin-right: 0;
    max-width: 470px;
  }
}

.buttons-list {
  display: flex;
  gap: 14px;

  width: 100%;
  max-width: 271px;

  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .buttons-list {
    margin: 0;
  }
}

.button {
  transition: 0.3s ease;
}

.button.light {
  background-color: #f3f3f3;
  color: #161f37;
}

.button.dark {
  background: transparent;
  color: #f3f3f3;
  border: 1px solid #f3f3f3;
}

.button.light:hover {
  background: rgba(243, 243, 243, 0.8);
}

.button.dark:hover {
  background: rgba(0, 0, 0, 0.5);
}
