.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.wrapper.active {
  pointer-events: all;
}

.profileDropdown {
  position: absolute;
  z-index: 100;
  top: 70px;
  right: 13%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 38px;

  width: 177px;

  border-radius: 8px;
  padding: 18px;
  background-color: #161f37;

  transition: opacity 0.3s ease;

  opacity: 0;

  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .profileDropdown {
  }
}

.profileDropdown.active {
  opacity: 1;
  pointer-events: all;
}

.edditLink {
  color: #f3f3f3;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(18 / 14);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edditLink:hover,
.edditLink:hover .linkSvg > svg {
  color: rgba(243, 243, 243, 0.7);
}

.linkSvg > svg {
  width: 14px;
  height: 14px;
}

.logoutBtn {
  padding: 12px;
  transition: all 0.4s ease;
  border: 2px solid rgba(255, 255, 255, 0.3);

  background: var(--main-button-bg);
}

.logoutBtn:hover,
.logoutBtn:focus,
.logoutBtn:active {
  cursor: pointer;

  border: 2px solid var(--button-main-border-hover);
  background: var(--main-button-bg-hover);
}
