.modal-wrapper {
    position: absolute;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    background: #0A0A11;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 150px;
}

