@import '../../css/variables.css';

/* decoration */
/* .dec-1,
.dec-2,
.dec-3 {
  position: absolute;
  z-index: -1;
}

.dec-1 {
  border-radius: 849px;
  background: rgba(64, 112, 205, 0.5);
  filter: blur(104.8543701171875px);

  top: 0;
  left: 0;

  transform: translate(-80%, -10%);

  width: 784px;
  height: 849px;
}

@media screen and (min-width: 1440px) {
  .dec-1 {
    transform: translate(-65%, -10%);
  }
}

.dec-2 {
  border-radius: 387px;
  background: rgba(188, 230, 210, 0.3);
  filter: blur(104.8543701171875px);

  bottom: 0;
  right: 0;

  transform: translate(-100%, -20%);

  width: 387px;
  height: 381px;

  display: none;
}

@media screen and (min-width: 1440px) {
  .dec-2 {
    display: block;
  }
}

.dec-3 {
  border-radius: 549px;
  background: rgba(64, 112, 205, 0.5);
  filter: blur(104.8543701171875px);

  bottom: 0;
  right: 0;

  transform: translate(20%, 25%);

  width: 549px;
  height: 543px;
}

@media screen and (min-width: 768px) {
  .dec-3 {
    border-radius: 549px;
    background: rgba(64, 112, 205, 0.5);
    filter: blur(104.8543701171875px);

    bottom: 0;
    right: 0;

    transform: translate(20%, 25%);

    width: 549px;
    height: 543px;
  }
}

@media screen and (min-width: 1440px) {
  .dec-3 {
    border-radius: 549px;
    background: rgba(64, 112, 205, 0.5);
    filter: blur(104.8543701171875px);

    bottom: 0;
    right: 0;

    transform: translate(20%, 25%);

    width: 549px;
    height: 543px;
  }
} */

.container {
  background-color: var(--main-bg-color);
  /* background-color: var(--color-dark); */
}

.heroContainer {
  position: relative;
}

.drinkGroup {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.hero {
  position: relative;
  padding-top: 85px;
  padding-bottom: 112px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 123px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 185px;
    padding-bottom: 218px;
  }
}

.headerHero {
  color: var(--button-color-light);

  width: 335px;

  font-size: 32px;
  font-weight: 600;
  line-height: calc(38 / 32);

  margin-bottom: 16px;
}

.heroDescr {
  margin-bottom: 32px;
  color: var(--text-color);

  width: 335px;

  font-size: 14px;
  font-weight: 400;
  line-height: calc(20 / 14);
}

.button {
  margin-bottom: 47px;

  width: 151px;
  height: 46px;

  background: var(--button-bg-main);
  color: var(--button-bg-active);
}

.button:hover {
  cursor: pointer;
  border-style: solid;
  border-color: var(--button-bg-pagination);
  border-width: 2px;
  color: var(--button-bg-active);
  background: var(--button-bg-hover);
  border: 1px solid var(--button-color-light);

  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: transparent;
  color: aliceblue;
}

.image {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 70%;

  margin-top: 47px;
}

.categoryName {
  color: var(--text-color);

  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: calc(32 / 28);

  margin-bottom: 24px;
}

.cocktailCard {
  margin-left: 20px;
  margin-right: 20px;
}

.groupCard {
  display: flex;
  justify-content: space-between;
  gap: 5px;

  margin-bottom: 60px;
}

.btnContainer {
  text-align: center;
  max-width: 100%;
  position: relative;
}

.other {
  position: absolute;
  top: 50%;
  left: 15%;
}

@media screen and (min-width: 768px) {
  .drink {
    width: 342px;
  }
  .headerHero {
    width: 641px;

    font-size: 56px;
    line-height: calc(60 / 56);
  }
  .heroDescr {
    margin-bottom: 48px;

    width: 619px;

    font-size: 18px;
    line-height: calc(24 / 18);
  }
  .button {
    margin-bottom: 54px;

    width: 169px;
    height: 46px;
  }
  .image {
    width: 50%;
  }
  .cocktailCard {
    margin-left: 32px;
    margin-right: 32px;
  }
  .groupCard {
    justify-content: center;
    gap: 20px;

    margin-bottom: 80px;
  }
  .drinkGroup {
    gap: 0px;
    margin-bottom: 6px;
  }
  .other > .button {
    margin-bottom: 0;
  }
  .other {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
  }
  .other {
    position: relative;
  }
}

@media screen and (min-width: 1440px) {
  .heroContainer {
    display: flex;
  }
  .image {
    transform: translateY(-15%);
    margin-left: 130px;
  }
  .headerHero {
    width: 715px;

    font-size: 64px;
    line-height: calc(68 / 64);
  }
  .heroDescr {
    margin-bottom: 48px;

    width: 500px;

    font-size: 18px;
    line-height: calc(24 / 18);
  }
  .button {
    margin-bottom: 54px;

    width: 160px;
    height: 54px;
  }
  .drink {
    width: 400px;
  }
  .cocktailCard {
    margin-left: 100px;
    margin-right: 100px;
  }
  .groupCard {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    margin-bottom: 80px;
  }
  .categoryName {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: calc(44 / 40);

    margin-bottom: 40px;
  }
  .other {
    position: relative;
  }
}
