@import '../../css/variables.css';

/* glass effect */
/* .container {
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 0.3);
} */
/*  */

.container {
  overflow: scroll;
}

.headerHero {
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}


.heroDescr {
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 32px;
}

.button {
  margin-left: 20px;
  margin-right: 204px;
  margin-bottom: 47px;
}

.button:hover {
  background: rgba(243, 243, 243, 0.8);
}

.button:hover {
  background: rgba(0, 0, 0, 0.5);
}

.link {
  padding: 18px;
  display: block;
  width: 151px;
  height: 46px;
  color: #161f37;
  text-transform: capitalize;
  text-align: center;
}

.categoryName {
  color: var(--button-color-light);
}

.groupCard {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.drink img {
  width: 100%;
}

.drink {
  width: 335px;
}

@media screen and (min-width: 768px) {
  .drink {
    width: 342px;
  }
}

@media screen and (min-width: 1440px) {
  .drink {
    width: 400px;
  }
}
