.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 16px;
}

.wrapper {
  border: 1px solid black;
  border-radius: 4px;
}

.drinkName {
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 0;
  color: black;
}
