.container {
  position: relative;
  margin-top: 40px;
}

.input {
  width: 335px;
  height: 54px;
  background: transparent;
  border: 1px solid var(--secont-text-cl);
  padding: 18px 24px;
  border-radius: 200px;

  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: calc(18 / 14);

  outline: none;

  transition: outline 50ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input::placeholder {
  color: var(--text-color);
}

.input:focus,
.input:hover {
  outline: 2px solid var(--text-color);
}

.icon {
  position: absolute;
  top: 18px;
  right: 24px;
  cursor: text;
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 60px;
  }

  .input {
    width: 264px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin-top: 80px;
  }
}
