.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
    .section {
        padding-top: 140px;
        padding-bottom: 140px;
    }
}

@media screen and (min-width: 1439.98px) {
    .section {
        padding-top: 158px;
    }
}