.profileAlert {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  max-width: 335px;
  border-radius: 16px;
  background-color: #161f37;

  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .profileAlert {
    max-width: 500px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
  }
}

.closeBtn {
  display: block;
  margin-left: auto;
  color: white;
}

.closeSvg {
  stroke: #f3f3f3;
  width: 24px;
  height: 24px;
}

.alertTitle {
  color: #f3f3f3;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(18 / 14);
  letter-spacing: -0.28px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .profileAlert {
    font-size: 18px;
    line-height: calc(24 / 18);
    letter-spacing: -0.36px;

    margin-bottom: 37px;
  }
}

.btnBox {
  margin: 0 auto;

  width: 100%;
  max-width: 284px;

  display: flex;
  justify-content: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .btnBox {
    max-width: 400px;
  }
}

.logoutBtn,
.cancelBtn {
  padding: 16px;

  transition: background-color 0.3s ease;
}

.logoutBtn:hover,
.logoutBtn:focus {
  background-color: rgba(242, 242, 242, 0.6);

  cursor: pointer;
  border-style: solid;
  border-color: var(--button-main-border-hover);
  border-width: 2px;
  background: var(--main-button-bg-hover);
}

.cancelBtn {
  background-color: #434d67;
  color: #f3f3f3;
}

.cancelBtn:hover,
.cancelBtn:focus {
  background-color: rgb(67, 77, 103, 0.6);
}
