.layout {
  position: fixed;
  top: 0;
  left: 0;

  background-color: #0a0a11;

  height: 100vh;
  width: 100%;

  color: #fafafa;

  overflow: hidden;

  background-image: url('../../img/start/bg-mob.jpg');
  background-position: right -300px top -15px;
  background-repeat: no-repeat;

  z-index: 1000;
}

@media screen and (min-width: 768px) {
  .layout {
    background-image: url('../../img/start/bg-tab.jpg');
    background-position: right -260px top;
  }
}

@media screen and (min-width: 1440px) {
  .layout {
    background-image: url('../../img/start/bg-tab.jpg');
    background-position: right 0 top -50px;
  }
}

.layout > .container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;

  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .layout > .container {
    align-items: flex-start;
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .layout > .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.des-1,
.des-2,
.des-3 {
  position: absolute;
  top: 84px;
  left: 42px;

  z-index: 1;
  border-radius: 257px;
  background: rgba(188, 230, 210, 0.4);
  filter: blur(104.8543701171875px);
  width: 257px;
  height: 247px;
}

.des-2,
.des-3 {
  top: 20px;
  left: 0;
  transform: translateX(-80%);

  border-radius: 550px;
  background: rgba(64, 112, 205, 0.5);
  width: 520px;
  height: 550px;
}

.des-3 {
  left: 100%;
  transform: translate(0%, 90%);

  width: 550px;
  height: 543px;
}

@media screen and (min-width: 768px) {
  .des-3 {
    transform: translate(-25%, 90%);
  }
}

@media screen and (min-width: 1440px) {
  .des-3 {
    transform: translate(-50%, 100%);
  }
}
