@import url('css/variables.css');

.header {
  /* border-bottom: solid 1px rgba(22, 31, 55, 0.10); */
  border-bottom: solid 1px var(--nav-link-border);
  padding-top: 20px;
  padding-bottom: 20px;
  background: transparent;
}

.headerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoLink {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoSvg {
  fill: var(--text-color);
  width: 22px;
  height: 22px;
}

.title {
  /* color: #161F37; */
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: calc(18 / 16);
  text-transform: uppercase;
}

.nav {
  display: none;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
  gap: 14px;
}

.userBox {
  display: flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 100%;
  border-radius: 50%;
  margin-right: 8px;
}

.name {
  /* color: #161F37; */
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
}

.burgerMenu {
  border: none;
  background: none;
  padding: 0;
}

.burgerSvg {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logoBox {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .logoSvg {
    width: 28px;
    height: 28px;
  }

  .title {
    font-size: 18px;
    line-height: calc(22 / 18);
  }

  .profile {
    gap: 24px;
  }

  .avatar {
    width: 44px;
    margin-right: 14px;
  }

  .burgerSvg {
    width: 38px;
    height: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-bottom: 22px;
    padding-top: 22px;
  }

  .nav {
    display: flex;
  }

  .navLink {
    border-radius: 40px;
    border: 1px solid var(--button-main-border-hover);
    margin-right: 16px;
    padding: 8px 16px;

    /* color: #161F37; */
    color: var(--main-button-bg);
    font-size: 14px;
    font-weight: 500;
    line-height: calc(23 / 14);
    transition: color 0.4s, background-color 0.4s;
  }

  .navLink:hover,
  .navLink:focus {
    color: var(--main-button-bg);
    background-color: var(--button-bg-active);
  }

  .navLink:last-child {
    margin-right: 0;
  }

  .themeSwitcher {
    display: inline-block;
  }

  .burgerMenu {
    display: none;
  }
}
