@import url('./variables.css');

.global-p,
.global-title,
.global-list {
  margin: 0;
}

.global-list {
  padding: 0;
  list-style: none;
}

.global-link {
  text-decoration: none;
  color: currentColor;
}

.global-button {
  display: block;
  color: currentColor;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  background: transparent;
  border: none;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;

  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* custom-button */
.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 18px;
  border-radius: 42px;

  color: #161f37;
  background: #f3f3f3;
  font-size: 14px;
  font-weight: 600;
  line-height: calc(18 / 14);
}

/* Cell */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--flex-gap);
}

.flex-container > * {
  flex-basis: calc(
    (100% - (var(--flex-items) - 1) * var(--flex-gap)) / var(--flex-items)
  );
}
