@import url('./variables.css');

.global-p,
.global-title,
.global-list {
  margin: 0;
}

.global-list {
  padding: 0;
  list-style: none;
}

.global-link {
  text-decoration: none;
  color: currentColor;
}

.global-button {
  display: block;
  color: currentColor;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  background: transparent;
  border: none;
}

/* custom-button */
.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 18px;
  border-radius: 42px;

  color: #161f37;
  background: #f3f3f3;
  font-size: 14px;
  font-weight: 600;
  line-height: calc(18 / 14);
}

/* Cell */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--flex-gap);
}

.flex-container > * {
  flex-basis: calc(
    (100% - (var(--flex-items) - 1) * var(--flex-gap)) / var(--flex-items)
  );
}
