:root {
  /* Cell */
  --flex-items: 2;
  --flex-gap: 21px;

  /* dark theme */

  --color-dark: #000000;
  --bg-color-dark: #0a0a11;
  --text-color: #fafafa;
  --button-color-dark: #161f37;
  --button-color-active: #434d67;
  --button-color-pagination: #4070cd;
  --accent-color: #bce6d2;
  --button-color-light: #f3f3f3;
}
