.preparation-section {
  margin-bottom: 40px;
}
.preparation-title {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 40px;
}

.description-section {
  margin-bottom: 40px;
}
.preparation-description {
  text-align: justify;
  margin-bottom: 20px;
}
