.file-uploader {
  width: 335px;
  max-width: 100%;
  height: 320px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .file-uploader {
    width: 320px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .file-uploader {
    width: 400px;
    height: 400px;
  }
}

.drop-file-block {
  position: relative;

  display: flex;
  gap: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 320px;

  margin-bottom: 40px;

  color: var(--button-color-light);
  font-weight: 500;
  line-height: 1.25;

  overflow: hidden;
  border-radius: 8px;
  background-color: var(--drop-file-area);
}

@media screen and (min-width: 768px) {
  .drop-file-block {
    height: 100%;
  }
}

.img-preview {
  max-width: 100%;
  max-height: 100%;
}

.svg-add {
  fill: var(--button-color-light);
}

.drop-file-block:hover {
  cursor: pointer;
}

.drop-file-block:hover .svg-add {
  fill: rgba(243, 243, 243, 0.7);
  stroke: var(--button-main-border-hover);
}

.svg-refresh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: rgba(22, 31, 55, 0.15);
}

.drop-file-block:hover .svg-refresh {
  stroke: #4070cd;
}
