.ingredient-input {
  width: 101px;
  height: 50px;
  padding: 18px 0 18px 16px;
  background: transparent;
  border: 1px solid var(--secont-text-cl);
  border-radius: 200px;

  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;

  outline: none;
}

@media screen and (min-width: 768px) {
  .ingredient-input {
    width: 150px;
    height: 56px;

    font-size: 17px;
    line-height: 2.6;
    /* outline: ; */
    transition: outline cubic-bezier(0.4, 0, 0.2, 1) 50ms;
  }
}

.ingredient-input::placeholder {
  color: rgba(243, 243, 243, 0.5);
}

.ingredient-input:hover,
.ingredient-input:focus {
  outline: 2px solid var(--text-color);
}

.ingredient-row {
  display: flex;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .ingredient-row {
    gap: 14px;
  }
}

.remove-btn {
  padding: 0;
  margin-left: auto;
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

.close-svg {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .close-svg {
    width: 20px;
    height: 20px;
  }
}
