.socialTitle {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: calc(24 / 18);

  margin-bottom: 20px;
}

.socialList {
  display: flex;
  gap: 14px;
}

.socialItem {
}

.socialLink {
  display: flex;
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: 1px solid var(--secont-text-cl);
}

.socialLink:hover {
  border-color: var(--text-color);
}

.socialLink:hover .socialSvg {
  color: var(--main-button-bg-hover);
}

.socialSvg {
  width: 22px;
  height: 22px;
  color: var(--main-button-bg);
}

@media screen and (min-width: 768px) {
  .socialLink {
    width: 44px;
    height: 44px;
  }

  .socialTitle {
    font-size: 24px;
    font-weight: 500;
    line-height: calc(32 / 24);

    margin-bottom: 24px;
  }

  .socialList {
    gap: 16px;
  }

  .socialSvg {
    width: 28px;
    height: 28px;
  }
}
