.nav {
  display: none;
}

@media screen and (min-width: 1440px) {
  .nav {
    display: flex;
  }

  .navLink {
    border-radius: 40px;
    border: 1px solid rgba(22, 31, 55, 0.2);
    margin-right: 16px;
    padding: 8px 16px;

    /* color: #161F37; */
    color: #f3f3f3;
    font-size: 14px;
    font-weight: 500;
    line-height: calc(23 / 14);
    transition: color 0.4s, background-color 0.4s;

    &:hover,
    &:focus {
      color: #f3f3f3;
      background-color: #161f37;
    }
  }

  .navLink:last-child {
    margin-right: 0;
  }
}
