.nav {
    display: none;
}

@media screen and (min-width: 1200px) {
    .nav {
        display: block;
    }
    
    .navLink {
        border-radius: 40px;
        border: 1px solid rgba(22, 31, 55, 0.20);   
        margin-right: 16px;
        padding: 8px 16px;
    
        color: #161F37;
        font-size: 14px;
        font-weight: 500;
        line-height: calc(23 / 14);
         transition: color 0.4s, background-color 0.4s;
    }
    .navLink:last-child {
        margin-right: 0;
    }
    .submitBtn:hover {
        color: #F3F3F3;
        background-color: #161F37;
    }

    .submitBtn:focus {
        color: #F3F3F3;
        background-color: #161F37;
    }

}