@import url('../../css/variables.css');

.drinksList {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
    margin-top: 40px;
}

@media screen and (min-width: 768px) {
    .drinksList {
        margin-top: 60px;
        row-gap: 80px;
    }
}

@media screen and (min-width: 1439.98px) {
    .drinksList {
        margin-top: 62px;
    }
}