@import-normalize;

@import url('./css/variables.css');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;

  /* overflow-x: hidden; */
  /* overflow: overlay; */
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

body::-webkit-scrollbar-thumb {
  background: rgba(243, 243, 243, 0.7);
  border-radius: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  display: block;
  color: currentColor;
  text-decoration: none;
}

img {
  font-size: 0;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
