@import url('../../../css/variables.css');

h2,
p,
ul,
img {
  padding: 0;
  margin: 0;
}

main {
  background-color: var(--main-bg-color);
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.gradient1 {
  position: absolute;
  top: 84px;
  left: 42px;
  z-index: 1;
  border-radius: 257px;
  background: var(--nav-link-border);
  filter: blur(104.8543701171875px);
  width: 257px;
  height: 247px;
}

.gradient2 {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 1;
  border-radius: 550px;
  background: var(--button-main-border-hover);
  filter: blur(104.8543701171875px);
  transform: translateX(-80%);
  width: 520px;
  height: 550px;
}

.gradient3 {
  position: absolute;
  left: 100%;
  z-index: 1;
  border-radius: 550px;
  background: var(--button-main-border-hover);
  filter: blur(104.8543701171875px);
  width: 550px;
  height: 543px;
  transform: translate(0%, 90%);
}

.drinksList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .drinksList {
    margin-top: 60px;
    row-gap: 80px;
  }
}

@media screen and (min-width: 1439.98px) {
  .section {
    padding-top: 158px;
  }

  .drinksList {
    margin-top: 62px;
  }
}
