

.userProfile {
    position: absolute;
    z-index: 6;
    top: 1150%;
    right: -20px;
    width: 335px;
    height: 345px;
    border-radius: 16px;
    background-color: #161F37;
    padding: 50px 25px;
    overflow: hidden;
}
.circle1 {
    position: absolute;
    z-index: -1;
    top: -35%;
    left: -35%;
    width: 280px;
    height: 305px;
    border-radius: 50%;
    background: rgba(188, 230, 210, 0.40);
    filter: blur(100px);
}
.circle2 {
    position: absolute;
    z-index: -1;
    bottom: -65%;
    right: -65%;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background: rgba(64, 112, 205, 0.50);
    filter: blur(100px);
}

.imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 39px;
}

.profileImg {
    width: 80px;
    border-radius: 50%;
}

.addBtn {
    z-index: 7;
    position: absolute;
    top: 64px;
    background: none;
    border: none;
}
.addSvg {
    width: 28px;
    height: 100%;
}


.inputBox {
    position: relative;
}
.avatarLabel {

}
.avatarInput {
    position: relative;
    color: #F3F3F3;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    width: 100%; 

    padding: 18px 24px;
    margin-bottom: 18px;
    border: 1px solid rgba(243, 243, 243, 0.50);
    border-radius: 50px;
    opacity: 0.8;  
    outline: none;
    background-color: transparent;
}
.inputSvg {
    position: absolute;
    top: 20px;
    right: 24px;
}
.edditSvg {
    width: 16px;
    height: 16px;
}



.submitBtn {
    color: #161F37;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;

    border: none;
    border-radius: 42px;
    padding: 17px 96px;
    background-color: #F3F3F3;

    &:hover, &:focus {
        color: #F3F3F3;
        background-color: #161F37;    
        border: 1px solid rgba(243, 243, 243, 0.20);
    }
}

.closeBtn {
    top: 14px;
    right: 14px;
    position: absolute;
    z-index: 6;
    border: none;
    background: none;
}

@media screen and (min-width: 768px) {
    .userProfile {
        width: 500px;
        height: 426px;
        padding: 50px 50px 50px 75px;
    }
    .circle1 {
        top: -35%;
        left: -15%;
    }
    .circle2 {
        bottom: -45%;
        right: -35%;
    }

    .imgBox {
        margin-bottom: 66px;
    }
    .profileImg {
        width: 100px;
        border-radius: 50%;
    }
    .addBtn {
        top: 84px;
    }
    .addSvg {
        width: 32px;
    }


    .avatarInput {
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 26.52px;
    
        padding: 14px 24px;
        margin-bottom: 25px;
        border: 1px solid rgba(243, 243, 243, 0.50);
        border-radius: 50px;
        opacity: 0.8;  
        outline: none;
        background-color: transparent;
    }
    .inputSvg {
        top: 18px;
    }
    .edditSvg {
        width: 20px;
        height: 20px;
    }

    .submitBtn {
        font-size: 16px;

        border: none;
        border-radius: 42px;
        padding: 17px 134.5px;
    }

    .closeSvg {
        width: 32px;
    }
}