.main {
  position: relative;
  color: var(--text-color);
  /* background-color: var(--main-bg-color); */
  overflow-x: hidden;
}

.gradient1 {
  position: absolute;
  top: 200px;
  left: 0;

  width: 600px;
  height: 200px;
  border-radius: 159px;
  background: var(--circle);
  filter: blur(200px);
  transform: translateX(-80%);
}

@media screen and (min-width: 768px) {
  .gradient1 {

    height: 200px;
    border-radius: 249px;
  }

  .gradient2 {
    position: absolute;
    left: 100%;

    top: 500px;
    width: 400px;
    height: 200px;
    border-radius: 159px;
    background: var(--circle);
    filter: blur(200px);
    transform: translate(0%, 90%);
  }
}

@media screen and (min-width: 1439.98px) {
  .gradient1 {
    height: 200px;
    border-radius: 249px;
  }
}
